@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.biz-main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.biz-main-section .main-content {
  width: 80%;
}

.biz-main-section h3 {
  font-family: "Pacifico", cursive;
  color: #000b4f;
  margin: 0;
}

#my-video {
  width: 90%;
  /* border: 1px solid red; */
  height: 20rem;
  margin-top: 0;
}

.main-content-div {
  margin-top: 2rem;
  width: 100%;
}

#biz-pdts {
  display: flex;
  flex-direction: column;
}

#biz-pdts > div {
  margin-bottom: 1rem;
}

#biz-pdts h4 {
  margin: 0;
}

/* VENDOR VIEW */
.vendor-video-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/* UPDATE VIDEO */
#custom-file-input {
  color: transparent;
  position: relative;
  bottom: -1em;
}
#custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
#custom-file-input::before {
  content: "Upload new Video";
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin: 0 auto;
}
#custom-file-input:hover::before {
  border-color: black;
}
#custom-file-input:active {
  outline: 0;
}
#custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.products-heading {
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.products-heading button {
  border: none;
  padding: 0.5rem .75rem;
  background-color: #fe9800d3;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .biz-main-section {
    flex-direction: column-reverse;
  }

  .biz-main-section .main-content {
    width: 100%;
  }

  #my-video {
    width: 100%;
    height: 15rem;
  }

  #biz-pdts {
    width: 100%;
  }
}
