@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.top {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h1 {
   color: white;
   margin-left: .75rem;
   font-family: "Pacifico", cursive;
   text-transform: lowercase;
}

.category-businesses {
    padding: 1rem;
}

/* top businesses */
.top-in-health-and-beauty h1 {
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #000B4F;
}

.businesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.businesses .top-biz-card {
    max-width: 6rem;
    margin: .5rem;
}