@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0 1rem;
}

.nav h2 {
  font-family: "Pacifico", cursive;
}

.nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 10%; */
}

.nav a {
  color: white;
}

.nav a:hover {
  color: #5672f9;
  transition: 0.3s;
}

/* FORMS */
/* --- login --- */
.form-popup {
  display: none;
  position: fixed;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 3;
  width: 100%;
}

#myForm,
#myForm2 {
  left: 47%;
  width: 35%;
  text-align: center;
}

#myForm {
  top: 25%;
}

#myForm2 {
  top: 15%;
}

.form-popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -2;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 4em 4em 4em;
  /* width: 100%; */
  margin: 0 auto;
  background-color: black;
}

.form-container input {
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.644);
  background-color: white;
  color: black;
  width: 90%;
  margin: 0.25rem;
}

.form-container button {
  padding: 0.6em 1em;
  width: 50%;
  margin: 0.5em auto 0 auto;
  margin-top: 1rem;
  background-color: #5672f9;
  border: none;
  border-radius: 10px;
  color: black;
  font-family: "Open Sans";
  font-weight: 700;
}

.form-container button:hover {
  border: 2px solid black;
  transition: 1s;
}

.form-container .btn-cancel {
  background-color: #fe9800;
  color: black;
  margin-top: 0.3rem;
}

.signin {
  margin-bottom: 1rem;
}

.form-container > p > a {
  color: #fe9800;
}

.form-container > p > a:hover {
  transition: 1s;
}

.hidden {
  display: none;
} 

.logout {
  border: none;
  padding: 1rem 1.2rem;
  background-color: rgba(255, 0, 0, 0.87);
  color: white;
  border-radius: 10px;
  font-family: "Open Sans";
  font-weight: bold;
}

.logout:hover {
  background-color: red;
  transition: 1s;
}