.sec-nav {
    background-color: rgba(0, 0, 0, 0.788);
    padding: .75rem;
    display: flex;
    align-items: center;
}

.menu-button {
    border: none;
    background-color: transparent;
    color: white;
}

.menu-button img {
    width: 25px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}

.sell-button {
    margin-left: 1rem;
    padding: .5rem .75rem;
    background-color: #FE9800;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.cart-info {
    margin-left: auto;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    margin-right: .5rem;
}

.cart-info img {
    width: 32px;
    height: 26px;
    padding: 0;
    margin-right: .2rem;
    font-size: 1.2rem;
}