#top-section {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

#top-section > div {
  display: flex;
  justify-content: space-around;
}

#top-section p {
  color: rgba(255, 255, 255, 0.822);
}

#biz-pfp-img {
  width: 16rem;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
  left: 0;
}

.biz-heading-and-rating {
  display: flex;
  align-items: center;
}

.biz-heading-and-rating h2 {
  margin-right: .5rem;
}

.biz-description {
  margin-left: 2rem;
}

.biz-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46%;
}

.location-place {
  display: flex;
  margin: 0;
}

.location-place #location {
  color: black;
  margin-right: 0.3rem;
  font-weight: bold;
}

.biz-location #button-google-maps {
  background-color: #cf8517;
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
}

.search-bar {
  margin-top: 1rem;
}

.search-bar form {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-bar form input {
  padding: 0.75rem;
  height: 100%;
}

.search-bar input[type="text"] {
  width: 60%;
  border-radius: 5px 0 0 5px;
  border: none;
}

.search-bar input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) {
  #top-section > div {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .biz-location {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .location-place {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .biz-description {
    margin: 0;
  }

  .search-bar form {
    justify-content: center;
  }
}